@import '../../global.scss';

.about {
  display: flex;
  background: $about;
  height: 100%;
  width: 100%;

  .bg {
    width: 30px;
    height: 100%;
    left: 55px;
    position: absolute;
    background: $aboutb;
  }
  .left {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      width: 80%;
      height: 90%;
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 40px;

      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
          margin: 0;
          padding: 0;
          color: $main1;
        }
      }

      .image {
        height: 320px;
        width: 300px;
        img {
          height: 100%;
          width: 100%;
          border-radius: 20px;
          object-fit: cover;
        }
      }
      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        row-gap: 20px;
        text-align: center;

        .boxes {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .box {
            background: linear-gradient(
              to right bottom,
              rgba(255, 255, 255, 0.7),
              rgba(255, 255, 255, 0.3)
            );
            border-radius: 20px;
            text-align: center;
            padding: 5px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 70%;

            .items {
              height: 40%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
            }
          }
        }

        .description {
          font-size: medium;
          font-family: sans-serif;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
      width: 100%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      row-gap: 30px;

      .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;

        h1 {
          padding: 0;
          margin: 0;
          color: $main1;
        }
      }

      .qualifications {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
        font-size: x-large;
      }

      .data {
        display: flex;

        .dat {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          column-gap: 2.5rem;
          row-gap: 2rem;

          .qua_data {
            text-align: center;

            .cover {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              h3 {
                font-size: x-large;
                margin: 8px;
                padding: 0;
                color: $main1;
              }
              span {
                font-size: larger;
                margin: 4px;
                padding-bottom: 6px;
              }

              .calendar {
                width: 50%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: large;
                color: $main;
              }
            }
          }
        }

        .liner {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;
          top: 30vh;
          height: 38%;
          position: fixed;
          .round {
            width: 15px;
            height: 10%;
            border-radius: 50%;
            background: linear-gradient(
              to right bottom,
              rgba(255, 255, 255, 0.7),
              rgba(255, 255, 255, 0.3)
            );
          }
          .line {
            width: 2px;
            height: 80%;
            background: linear-gradient(
              to right bottom,
              rgba(255, 255, 255, 0.7),
              rgba(255, 255, 255, 0.3)
            );
          }
        }
      }

      .data :nth-child(1) {
        grid-area: 1/1 / span 1 / span 1;
      }
      .data :nth-child(2) {
        grid-area: 2/2 / span 1 / span 1;
      }
      .data :nth-child(3) {
        grid-area: 3/1 / span 1 / span 1;
      }
    }
  }
}
