@import '../../global.scss';

.about {
  display: flex;
  background: $about;
  height: 100%;
  width: 100%;

  .play {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 10px;
    bottom: 165px;

    @include mini {
      right: 10px;
      bottom: 100px;
    }
    @include mobile {
      display: none;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bg {
    width: 30px;
    height: 100%;
    left: 55px;
    position: absolute;
    background: $aboutb;

    @include mobile {
      display: none;
    }
  }
  .left {
    flex: 0.5;
    display: flex;

    @include mobile {
      margin-top: 10px;
      flex: 0.3;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .wrapper {
      width: 100%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 40px;

      @include mini {
        height: 100%;
        row-gap: 15px;
      }

      @include mobile {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        row-gap: 15px;
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
          margin: 0;
          padding: 0;
          color: $main1;
          @include mobile {
            margin-top: 15px;
            font-size: 30px;
          }
        }
      }

      .image {
        height: 320px;
        width: 300px;
        @include mini {
          height: 300px;
          width: 280px;
        }
        img {
          height: 100%;
          width: 100%;
          border-radius: 20px;
          object-fit: cover;
        }
        @include mobile {
          display: none;
        }
      }
      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        row-gap: 20px;
        text-align: center;
        @include mobile {
          width: 80%;
          font-size: small;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          row-gap: 20px;
        }

        .boxes {
          @include mobile {
            padding: 0;
            margin: 0;
            font-size: small;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 40%;
          }
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .box {
            background: linear-gradient(
              to right bottom,
              rgba(255, 255, 255, 0.7),
              rgba(255, 255, 255, 0.3)
            );
            border-radius: 20px;
            text-align: center;
            padding: 5px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 70%;

            .items {
              height: 40%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
            }
          }
        }

        .description {
          font-size: medium;
          font-family: sans-serif;

          @include mobile {
            font-size: 15px;
            font-family: sans-serif;
          }
        }
      }
    }
  }
  .right {
    @include mobile {
      flex: 0.7;
    }
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
      width: 100%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      row-gap: 30px;
      @include mini {
        row-gap: 0;
      }
      @include mobile {
        width: 80%;
        height: 80%;
        row-gap: 0;
      }

      .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;

        h1 {
          padding: 0;
          margin: 0;
          color: $main1;

          @include mobile {
            font-size: 30px;
          }
        }
      }

      .qualifications {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
        font-size: x-large;
        @include mobile {
          display: none;
        }
      }

      .data {
        display: flex;

        .dat {
          @include mobile {
            column-gap: 10px;
            row-gap: 0;
          }
          @include mini {
            column-gap: 0;
            row-gap: 0;
          }
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          column-gap: 2.5rem;
          row-gap: 2rem;

          .qua_data {
            text-align: center;

            .cover {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              h3 {
                font-size: x-large;
                margin: 8px;
                padding: 0;
                color: $main1;
                @include mobile {
                  margin: 0;
                  font-size: 15px;
                }
              }
              span {
                font-size: larger;
                margin: 4px;
                padding-bottom: 6px;
                @include mobile {
                  font-size: smaller;
                  padding: 0;
                }
              }

              .calendar {
                width: 50%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: large;
                color: $main;
                @include mobile {
                  width: 80%;
                  font-size: smaller;
                }
              }
            }
          }
        }

        .liner {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;
          top: 30vh;
          height: 38%;
          position: fixed;
          @include mini {
            height: 40%;
          }
          @include mobile {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 80%;
            top: 45vh;
            height: 28%;
            position: fixed;
          }
          .round {
            @include mobile {
              width: 10px;
            }
            width: 15px;
            height: 10%;
            border-radius: 50%;
            background: linear-gradient(
              to right bottom,
              rgba(255, 255, 255, 0.7),
              rgba(255, 255, 255, 0.3)
            );
          }
          .line {
            width: 2px;
            height: 80%;
            background: linear-gradient(
              to right bottom,
              rgba(255, 255, 255, 0.7),
              rgba(255, 255, 255, 0.3)
            );
          }
        }
      }

      .data :nth-child(1) {
        grid-area: 1/1 / span 1 / span 1;
      }
      .data :nth-child(2) {
        grid-area: 2/2 / span 1 / span 1;
      }
      .data :nth-child(3) {
        grid-area: 3/1 / span 1 / span 1;
      }
    }
  }
}
