@import "../../global.scss";

.about_bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(-130deg, #192839 50%, #1ab4e2 115%);
  opacity: 0.3;
}
.about {
  display: flex;
  height: 100%;
  width: 100%;
  > * {
    z-index: 10000000;
  }

  .play {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 68vh;

    span {
      color: $main_title;
    }

    @include mini {
      right: 10px;
      bottom: 100px;
    }
    @include mobile {
      display: none;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      margin-top: 10px;
      margin-left: 15px;
      flex: 0.3;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .wrapper {
      width: 85%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 40px;

      @include mini {
        height: 100%;
        row-gap: 15px;
      }

      @include mobile {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
      }
      @include mobileL {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 0;
        flex-direction: column;
      }

      .header {
        width: 100%;

        h1 {
          margin: 0;
          padding: 0;
          color: $main_title;

          @include mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            font-size: 30px;
          }
          @include mobileL {
            font-size: x-large;
            margin-top: 10px;
          }
        }
      }

      .about_me {
        @include mobileL {
          padding: 8px 2px;
        }
        span {
          font-size: x-large;
          color: rgb(169, 169, 169);

          @include mobile {
            font-size: large;
          }
          @include mobileL {
            font-size: medium;
          }
        }
      }

      .exp {
        .title {
          color: $main_title;
          @include mobileL {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: x-large;
            padding: 0;
            margin: 0;
          }
          @include mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: x-large;
            padding: 0;
            margin: 0;
          }
        }

        .exp_title {
          font-size: x-large;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          color: rgb(135, 206, 250);
          @include mobileL {
            font-size: large;
          }

          .time {
            font-size: large;
            color: rgb(135, 206, 250);
          }
        }
        .exp_desc {
          padding: 15px 10px;
          width: 90%;
          font-size: x-large;
          color: rgb(169, 169, 169);
          @include mobile {
            font-size: large;
          }
          @include mobileL {
            font-size: medium;
            padding: 4px 8px;
          }
        }
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        row-gap: 20px;
        text-align: center;
        @include mobile {
          width: 80%;
          font-size: small;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          row-gap: 20px;
        }

        .description {
          font-size: medium;
          font-family: sans-serif;

          @include mobile {
            font-size: 15px;
            font-family: sans-serif;
          }
        }
      }
    }
  }
  .right {
    @include mobile {
      flex: 0.7;
    }
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
      width: 100%;
      height: 85%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      row-gap: 30px;
      @include mini {
        row-gap: 0;
      }
      @include mobile {
        width: 80%;
        height: 80%;
        row-gap: 0;
      }
      @include mobileL {
        width: 80%;
        height: 80%;
        row-gap: 0;
      }

      .main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;

        h1 {
          padding: 0;
          margin: 0;
          color: $main_title;

          @include mobile {
            font-size: 30px;
          }
          @include mobileL {
            font-size: large;
          }
        }
      }

      .data {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        @include mobileL {
          width: 100%;
          height: 100%;
        }
        .dat {
          @include mobile {
            column-gap: 10px;
            row-gap: 0;
          }
          @include mini {
            column-gap: 0;
            row-gap: 0;
          }
          @include mobileL {
            column-gap: 0px;
            row-gap: 0;
            grid-template-columns: 2fr 2fr;
          }

          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          column-gap: 2.5rem;
          row-gap: 2rem;

          .qua_data {
            text-align: center;

            .cover {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              h3 {
                font-size: x-large;
                margin: 8px;
                padding: 0;
                color: rgb(135, 206, 250);
                @include mobile {
                  margin: 0;
                  font-size: 15px;
                }
                @include mobileL {
                  font-size: 15px;
                }
              }
              span {
                font-size: x-large;
                margin: 4px;
                padding-bottom: 6px;
                color: rgb(211, 211, 211);
                @include mobile {
                  font-size: smaller;
                  padding: 0;
                }
                @include mobileL {
                  font-size: smaller;
                  padding: 0;
                }
              }

              .calendar {
                width: 65%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: larger;
                color: $main;
                @include mobile {
                  width: 80%;
                  font-size: smaller;
                }
              }
            }
          }
        }

        .liner {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: fixed;
          margin-left: 40px;
          height: 50%;

          @include mobile {
            margin: 0;
            height: 28%;
          }

          .round {
            @include mobile {
              width: 10px;
            }
            width: 15px;
            height: 8%;
            border-radius: 50%;
            background: linear-gradient(
              to right bottom,
              rgba(255, 255, 255, 0.7),
              rgba(255, 255, 255, 0.3)
            );
          }
          .line {
            width: 2px;
            height: 80%;
            background: linear-gradient(
              to right bottom,
              rgba(255, 255, 255, 0.7),
              rgba(255, 255, 255, 0.3)
            );
          }
        }
      }

      .data :nth-child(1) {
        grid-area: 1/1 / span 1 / span 1;
        @include mobileL {
          grid-area: 1/2 / span 1 / span 1;
        }
      }
      .data :nth-child(2) {
        grid-area: 2/2 / span 1 / span 1;
        @include mobileL {
          grid-area: 2/1 / span 1 / span 1;
        }
      }
      .data :nth-child(3) {
        grid-area: 3/1 / span 1 / span 1;
        @include mobileL {
          grid-area: 3/2 / span 1 / span 1;
        }
      }
    }
  }
}
