@import '../../global.scss';

.project {
  width: 100%;
  height: 100%;
  background: $project;
  position: absolute;
  top: 100%;
  z-index: 1;
  transition: all 1s ease;

  &.active {
    top: 0;
  }

  .title {
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    padding: 0;
    margin: 0;
    color: $main;
  }

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    .wrapper {
      width: 90%;
      height: 80%;
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 50px;

      .des {
        font-size: 22px;
        text-align: center;
        color: $main;
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 50px;

        .video {
          .not {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
              height: 450px;
              width: 700px;
              z-index: 1;
              cursor: pointer;
            }
            span {
              position: absolute;
              font-size: xx-large;
              font-weight: bold;
            }
            &:hover {
              img {
                opacity: 0.4;
              }
            }
          }
        }

        .right {
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;

          .demo {
            flex: 0.4;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: xx-large;
            font-weight: bolder;
            span {
              color: $main;
            }
          }
          .tec {
            flex: 0.6;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title1 {
              font-size: x-large;
              font-weight: bold;
              color: $main1;
            }

            .data {
              margin-top: 20px;
              display: flex;
              align-items: center;
              flex-direction: column;
              .cont {
                width: 100%;
                display: flex;
                align-items: center;

                span {
                  font-size: larger;
                  margin: 8px;
                  color: $main;
                }
              }
            }
          }
        }
      }
    }
  }

  .back {
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 98%;
    color: $main;
    > * {
      font-size: xx-large;
      cursor: pointer;
    }
  }
}
