@import '../../global.scss';

.project {
  width: 100%;
  height: 100%;
  background: $project;
  position: absolute;
  top: 100%;
  z-index: 1;
  transition: all 1s ease;

  &.active {
    top: 0;
  }

  .title {
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    padding: 0;
    margin: 0;
    color: $main;

    @include mobile {
      top: 6vh;
      height: 7%;
      width: 100%;
      text-align: center;
      font-size: medium;
    }
  }

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;

    .wrapper {
      width: 90%;
      height: 80%;
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 50px;
      @include mini {
        row-gap: 20px;
      }

      .des {
        font-size: 22px;
        text-align: center;
        color: $main;
        @include mini {
          font-size: 20px;
        }
        @include mobile {
          width: 80%;
          font-size: large;
          text-align: center;
        }
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 50px;

        @include mobile {
          flex-direction: column;
        }
        .video {
          .vid {
            height: 450px;
            width: 750px;
            @include mini {
              height: 350px;
              width: 700px;
            }
            @include mobile {
              height: 200px;
              width: 300px;
            }
          }

          .not {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
              height: 450px;
              width: 700px;
              z-index: 1;
              cursor: pointer;
              @include mini {
                height: 350px;
                width: 700px;
              }
              @include mobile {
                height: 200px;
                width: 300px;
              }
            }
            span {
              position: absolute;
              font-size: xx-large;
              font-weight: bold;
              @include mobile {
                font-size: large;
              }
            }
            &:hover {
              img {
                opacity: 0.4;
              }
            }
          }
        }

        .right {
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;

          .demo {
            flex: 0.4;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: xx-large;
            font-weight: bolder;
            span {
              color: $main;
            }
            @include mobile {
              margin-top: 10px;
              color: $main1;
              font-size: x-large;
            }
          }
          .tec {
            flex: 0.6;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include mobile {
              margin-top: 15px;
            }
            .title1 {
              font-size: x-large;
              font-weight: bold;
              color: $main1;
              @include mobile {
                font-size: x-large;
              }
            }

            .data {
              margin-top: 20px;
              display: flex;
              align-items: center;
              flex-direction: column;
              @include mobile {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 0;
              }
              .cont {
                width: 100%;
                display: flex;
                align-items: center;

                span {
                  font-size: larger;
                  margin: 8px;
                  color: $main;
                  @include mobile {
                    font-size: small;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .back {
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 98%;
    color: $main;
    > * {
      font-size: xx-large;
      cursor: pointer;
    }
    @include mobile {
      align-items: center;
      justify-content: center;
    }
  }
}
